<% if params[:controller] == 'about' %>
	<div class="well">
		<h3>Location Info</h3>
		<ul>
			<li>The BookStore</li>
			<li>47 Ros Ard</li>
			<li>Knocknacarra</li>
			<li>Galway</li>
			<li>Email:reg@thebookstore.com</li>
		</ul>
	</div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
	<div class="list-group">
        <h2>Search By Category:</h2>
        
        <% @catagories.each do |catagory|%>
        <%=link_to catagory.name, catagory_path(catagory.id), class:'list-group-item' %>
        <%end%>
	</div>
<% end %>
<style>
    h2{
    text-align:center;
    }</style>