<div class="container12">
   <div class ="col-md-8">
<p>This is just a basic website  which is created entirely in Ruby On Rails, showing some of the books I am looking at at the moment. It can be updated and you can add your own books and information at any time. It is just to show that I have the skills to creat a basic database driven website when and if neeed. I also fel the skills involved in building it will be important in Shopify. :)</p>
</div>
</div>
