/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
@import "bootstrap-sprockets";
@import "bootstrap";


html, body {
  margin: 0;
    padding: 0;
}

body{

background-repeat: no-repeat;
font-family: 'Arial', sans-serif;
font-size:14px;
color:#666;
line-height: 1.5em;
}
.container {
padding-top: 50px;
padding-bottom: 50px;
max-height: 90%;
max-width: 900%;
}



.container12{
    padding:50px 0 0 50px;
}

.blocks{
    float: left;
    width: 100%;
}

header{
    background:#333;
    color:white;
    height:80px;
    margin-bottom: 120 px;
    text-align: center;
}

footer{
	background:#333;
    color: aliceblue;
	width:100%;
	position:fixed;
    text-align: center;
	bottom:0;
	left:0;
}

#books-index img{
    width:100%;
    padding: 3px;
    border:1px #ccc solid;   
}

#books-index {
text-align: center;
align-content: center;
}

#books-index h3{
    height: 50px;
}

#books-index .btn{
display: block;
margin-top: 20px;
}
.book-image{
display:flex;
}
.bookslist{
max-width: 100%;
max-height: 100%;
}

#books-show h2{
background:#f4f4f4;
padding:10px;}

.books-show-left
{
float:left;
width:40%;
margin-right: 10px;
}

img.resize{
width:540px; /* you can use % */
height: auto;
}
.books-show-right{
float:left;
}
#books-show-btn{
margin:20px 0 0 70px;
}

img {
    max-width: 100%;
    max-height: 100%;
    padding:10px;
}

.book_form{
margin-bottom: 30px;
    position: relative;
}


/*! http://responsiveslides.com v1.55 by @viljamis */
.rslides {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
height: 100%;
  padding: 20px;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;

align-content: center;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
display: block;
max-width: 100%;
max-height: 100%;
   margin:auto;
  }

